<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapbox.mapboxsdk.plugins.offline">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Permission required from Android 14 (API 34 on) -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
        tools:ignore="SystemPermissionTypo" />

    <application>
        <!-- Offline download region picker activity -->
        <activity
            android:name="com.mapbox.mapboxsdk.plugins.offline.ui.OfflineActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- Offline download service -->
        <service
            android:name="com.mapbox.mapboxsdk.plugins.offline.offline.OfflineDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
